* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.form {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* text-align: center; */
    /* align-items: center; */

    /* padding: 1em; */
    position: relative;
    margin: 1em 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px 4px rgb(184, 184, 184);
    /* border: solid 2px green; */

}

div.form > input, select {
    margin: 1em;
}

div.form>h2 {
    width: 100%;
    background-color:rgb(158, 187, 250);
    color: white;
    padding: 0.5em;
    border-radius: 10px;

}

div form {
    padding: 1em;
    vertical-align: middle;
    /* position: relative; */
}

/* form label {
    display: inline-block;
    left: 40%;
} */

form label:not(:first-child)::before {
    content:'\a';
    white-space: pre;
}

form select, input {
    padding: 0.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-left: 1em;
    background-color: rgb(231, 231, 231);
    font-size: 1em;
}

.add-habit-btn, .new-habit-btn, .delete-habit-btn {
    position: relative;
    right: 0;
    text-align: right;
    vertical-align: middle;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 2em;
    line-height: 1em;
    margin-left: 0.5em;
    
}

.add-habit-btn::before {
    content: "\f058";
    color: rgb(19, 185, 82);
}

.new-habit-btn::before {
    content: "\f055";
    color: rgb(24, 92, 218);
}

.delete-habit-btn::before {
    content: "\f1f8";
    color: rgb(177, 29, 29);
}


/* 
form input[type='submit'] {
    display: block;
    width: 100%;
    margin: 1em auto
} */


