* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input-invalid {
    box-shadow: 0 0 4px 2px rgb(255, 68, 68);
}

#regiser-sbmt:hover {
    transform: scale(1.01);
}

#login-sbmt, #register-sbmt {
    border: 2px solid blue;
    width: 90%;
}

#login-sbmt:hover {
    transform: scale(1.01);
}

input#username, input#password, input#password-check {
    border: 2px solid rgb(158, 187, 250);
}

#username-label, #password-label {
    font-size: 12px;
}

#robot-label {
    padding-bottom: 10px;
}

.register-element, .login-element {
    margin-top: 30px;
    text-align: center;
}

#register-link, #login-link {
    font-size: 15px;
}