* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input-invalid {
    box-shadow: 0 0 4px 2px rgb(255, 68, 68);
}

#title-icon {
    border: 2px solid yellow;
}

#app-name {
    border: 2px solid purple
}

#tagline {
    border: 2px solid green;
}

#register-sbmt {
    border: 2px solid orange;
}

#login-sbmt {
    border: 2px solid blue;
}

input#username {
    border: 2px solid pink;
}

input#password, input#password-check {
    border: 2px solid pink;
}