body{
    font-family: 'Allerta', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#title-icon {
    font-size: 100px;

}

footer {
    display: flex;
}