body{
    font-family: 'Allerta', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    background-color: pink;
    border-radius: 15%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#title-icon {
    font-size: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding-bottom: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}

/* Style nav bar links */
.bottom-nav a {
    float: left;
    display: block;
    color: honeydew;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 18px;
}

.bottom-nav a:hover {
    background-color: #ddd;
    color: black;
  }

.bottom-nav a.active {
    background-color: black;
}

.bottom-nav .icon {
    display: none;
}

    .bottom-nav a:not(:first-child, :nth-child(2)) {
        display: none;
    }

    .bottom-nav a.icon {
        float: right;
        display: block;
    }

    .bottom-nav.responsive .icon {
        order: 5;
    }  
    
    .bottom-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }