body{
    font-family: 'Allerta', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

header {
    min-height: 70px;
    text-align: center;
}

.heading {
    background-color: pink;
    border-radius: 15%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#title-icon {
    font-size: 100px;
}

.container {
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: min-content;
}

.streaks-list {
    border: rgb(158, 187, 250) 2px solid;
    border-radius: 10px;
    margin: 5px;
    grid-row: 2 / 2;
}

.habits-list {
    border: rgb(158, 187, 250) 2px solid;
    border-radius: 10px;
    margin: 5px;
    grid-row: 1 / 2;
}

.streaks-heading, .habits-heading {
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.habit-container{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 6px;
    align-items: center;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    /* border: 2px solid green; */
}

.habits-extras-container {
    display: grid;
    grid-column: 1 / 6;
    grid-gap: 20px;
    margin: 10px;
    margin: 10px;
    margin-bottom: 15px;
    flex-direction: row;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 6px;
    align-items: center;
    font-size: 14px;
}

.habit-extra-item {
    display: grid;
    align-items: center;
}

.extras-date {
    grid-column: 1 / 3;
}

.extras-progress {
    grid-column: 3 / 4;

}

.extras-result {
    grid-column: 5 / 6;
}

.streak-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 9px;
    padding: 3px;
    align-items: center;
    margin: 3px;
    padding: 15px;
    /* border: 2px solid purple; */
}

.streak-container h5 {
    display: grid;
    grid-column: 1 / 3;
    font-size: 15px;
    /* border: 2px solid hotpink; */
    justify-content: center;
}

.streaks-container {
    display: none;
    grid-gap: 20px;
}

.streak-container p:nth-child(2) {
    display: grid;
    grid-row: 2;
    grid-column: 1 / 6;
    font-size: 14px;
    font-style: italic;
    justify-content: center;
    /* border: 2px solid yellow; */
}

.streak-container p:nth-child(3) {
    display: grid;
    grid-column: 1 / 6;
    justify-content: center;
    font-size: 12px;
    color: grey;
    /* border: 2px solid lightcoral; */
}

progress {
    height: 30px
}

button, .increase-freq-btn, .minus-btn, .see-more-btn {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-right: 2px;
}

button:hover {
    transform: scale(1.04);
}

